<configuration>
    <include resource="/org/springframework/boot/logging/logback/base.xml"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %blue(%d{HH:mm:ss.SSS}) %yellow([%thread]) %magenta(%-5level) %green([%logger{36}]) >>> %cyan(%msg) %n
            </pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="cn.tuyucheng.taketoday.testloglevel" level="debug"/>
</configuration>
